@model IEnumerable<ThreadInstanceConciseViewModel>
@{
    ViewData["Title"] = "All thread instances";
}

<h2>@ViewData["Title"]</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @Html.DisplayForModel()
    </tbody>
</table>
